
 .box{
  padding: 20px;
  border-radius: 6px;
  /* background-color: #a5a4a4; */
  /* box-shadow: 0 2px 4px rgba(236, 236, 236, 0.1); */
  position: relative;
  width: 95%;
  }
 /* .box img{
  max-width: 100%;
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  } */
 .box h3{
  margin: 0 0 10px;
  color: var(--main-color);
  }
 .box .title{
  color: #777;
  margin: 10px 0px;
  display: block;
  }
 
 .box p{
  line-height: 1.5;
  color: #494848;
  margin-top: 10px;
  margin-bottom: 0;
  }

  .cardFooter{
    border-top: 2px sold #dbdbdb !important;
    margin-top: 10px;
  }