.whatisicpc::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d72c2;
    z-index: -1;
    /* transform: skewY( -5deg);
    transform-origin: top ; */
}